server:
  api_url: http://openfga:8080
  # TODO(jcchavezs): This should be read from an env var
  store_id: ${STORE_ID}

log:
  level: debug
  format: json

extraction_sets:
  - name: test
    user:
      type: mock
      config:
        value: "subject:user_123"
    object:
      type: mock
      config:
        value: "resource:service_abc"
    relation:
      type: request_method
